<mat-card>
  <mat-card-title>
    {{ tarea.id ? 'Editar tarea' : 'Nueva tarea' }}
  </mat-card-title>

  <mat-card-content>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="tarea.titulo" name="titulo" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="tarea.descripcion" name="descripcion" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="tarea.estado" name="estado">
        <mat-option value="Pendiente">Pendiente</mat-option>
        <mat-option value="En Progreso">En Progreso</mat-option>
        <mat-option value="Finalizada">Finalizada</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="guardar()">
      {{ tarea.id ? 'Actualizar' : 'Guardar' }}
    </button>
  </mat-card-actions>
</mat-card>
